version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-local
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: PNCP_local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - local-net
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: saas_b2g_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - local-net

volumes:
  postgres_data:
  rabbitmq_data:

networks:
  local-net:
    driver: bridge
