alembic==1.17.2
black==25.12.0
dotenv==0.9.9
flake8==7.3.0
httpx==0.28.1
mockito==1.5.5
pika==1.3.2
pylint==4.0.4
psycopg2-binary==2.9.11
pytest==9.0.2
pytest-cov==7.0.0
python-decouple==3.8
python-dotenv==1.2.1
requests==2.32.5
SQLAlchemy==2.0.45

